.mat-card {
    width: 250px;
}

.test {
    background-color: #fafafa;
    border-radius: 5px;
  }

.test:hover {
    border: 2px solid #6c757d;
    border-radius: 5px;
    cursor: pointer;
}

.test-ts {
    border: 2.3px solid #00a4ff;
    background-color: #e6f6ff;
}

.test-ts:hover {
    border: 3px solid #00a4ff;
    background-color: #e6f6ff;
    cursor: pointer;
}