.mat-card {
    width: 250px;
}

.check-false {
    border: 3px solid #fafafa;
    background-color: #fafafa;
    border-radius: 5px;
  }

.check-false:hover {
    border: 3px solid #6c757d;
    border-radius: 5px;
    cursor: pointer;
}

.check-true {
    border: 3px solid #00a4ff;
    background-color: #e6f6ff;
}

.check-true:hover {
    border: 3px solid #027aba;
    background-color: #e6f6ff;
    cursor: pointer;
}