<div class="text-center logo-div">
  <a href="https://www.vento.com/" target="_blank">
    <img class="img-fluid logo mb-2 mt-2" src="assets/img/logo-vento-bl.png" alt="">
  </a>

</div>



<mat-stepper labelPosition="bottom" [linear]="isLinear" #stepper >


  <mat-step id="step-test" [stepControl]="firstFormGroup" label="Presupuesto">
    <ng-template matStepperIcon="motorcycle">
      <mat-icon>motorcycle</mat-icon>
    </ng-template>

    <app-form01></app-form01>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Tipo de Motocicleta">
    <app-form02></app-form02>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" label="Tipo de Combustible">
    <app-form03></app-form03>
  </mat-step>

  <mat-step [stepControl]="fourthdFormGroup" label="Equipamiento Adicional">
    <app-form04></app-form04>
  </mat-step>

  <mat-step [stepControl]="fiveFormGroup" label="Especificaciones de Rendimiento">
    <app-form05></app-form05>
  </mat-step>

  <mat-step [stepControl]="sixFormGroup" label="Tu Moto Ideal">
    <app-form06></app-form06>
  </mat-step>


</mat-stepper>
