/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: nova;
  src: url(assets/fonts/proximanova.otf) format("opentype");
}

html,
body {
  height: 100%;
  background: linear-gradient(85deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* INICIO ESTILOS GENERALES */
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {

  .animation-waves {
    visibility: hidden;
  }

  .waves {
    visibility: hidden;
  }

  .parallax > use {
    visibility: hidden;
  }
  .parallax > use:nth-child(1) {
    visibility: hidden;
  }
  .parallax > use:nth-child(2) {
    visibility: hidden;
  }
  .parallax > use:nth-child(3) {
    visibility: hidden;
  }
  .parallax > use:nth-child(4) {
    visibility: hidden;
  }
}
/*FIN ESTILOS GENERALES*/

/* INICIO SLIDER STYLES */
.mat-slider {
  width: 400px;
}

.mat-slider.mat-accent .mat-slider-track-fill, .mat-slider.mat-accent .mat-slider-thumb, .mat-slider.mat-accent .mat-slider-thumb-label {
    background-color: #3f51b5;
}
/* FIN SLIDER STYLES */

/* INICIO RADIO BUTTON STYLES */
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
/* FIN RADIO BUTTON STYLES */


/* INICIO STEPPER STYLES */
.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent;
}

.mat-typography h2 {
  font-weight: lighter;
}

.mat-step-text-label {
  color: #fafafa;
}

/*@media only screen and (max-width: 600px) {
  .mat-step-text-label {
    visibility: hidden;
  }
}*/

@media (max-width: 641px)  {
  .mat-step-text-label {
    visibility: hidden;
  }
}

.mat-step-header .mat-step-icon {
  background-color: #343a40;
}

.mat-step-header .mat-step-icon-selected {
  background-color: #fafafa;
  color: #000000;
  font-weight: bold;
}


.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element{

	background-color: #03a7c0 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #2678bc !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #2678bc !important;
}
/* FIN STEPPER STYLES */

/* COLORES DEFINIDOS */
.mat-success {
  background-color: #28a745;
  color: #fff;
}
