<div class="container">
  <div class="row">
    <div *ngFor="let elem of test; index as i;" class="col-md-auto col-lg-4 mt-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>Coincidencia Cercana</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.vento.com/img/hyper280/2022/hyper280-16.jpg" alt="Motito">
        <mat-card-content>
          <div>Vento</div>

          <p><strong>Hyper 280</strong></p>

          <p>Power Ranger, Pero acelera Macizo!!</p>

          <hr/>
          Nueva desde $914 MXN / Semanales
        </mat-card-content>

        <mat-card-actions>
          <div class="text-center">
            <a mat-raised-button class="mat-success" href="https://www.vento.com/planes-hyper-280/" target="_blank">Consultar Planes</a>
          </div>

        </mat-card-actions>
      </mat-card>
  </div>
  </div>
</div>